<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>nnutter</string>
	<key>Builder Version</key>
	<string>7534.48.3</string>
	<key>CFBundleDisplayName</key>
	<string>Hashed</string>
	<key>CFBundleIdentifier</key>
	<string>com.hashedapp.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>Global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>generatepwdhash</string>
				<key>Identifier</key>
				<string>hashedButton</string>
				<key>Image</key>
				<string>Icon.png</string>
				<key>Label</key>
				<string>Hashed</string>
				<key>Popover</key>
				<string></string>
				<key>Tool Tip</key>
				<string>Hashed for Safari</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://www.w3.org/2002/09/tests/keys.html</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>InjectEnd.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>PwdHash.com compatible password generator for Safari.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://hashedapp.com/safari/update</string>
	<key>Website</key>
	<string>http://hashedapp.com</string>
</dict>
</plist>
